<html>
<head>
    <title>注册</title>
</head>
<body>
    <div>
        <form action="http://0.0.0.0:8080/dealuser/" method ="POST">
            <li>用户密码<input type = "text" name = "user_password"></li>
            <li>用户二次密码<input type = "text" name = "user_password2"></li>
            <li>用户邮箱<input type = "text" name = "user_email"></li>
            <li>请求类型<input type = "text" name = "request_type"></li>
            <li><input type = "submit" value = "确定"></li>
        </form>
        <form action="http://0.0.0.0:8080/dealuser/" method ="POST">
            <li>用户email<input type = "text" name = "user_email"></li>
            <li>用户密码<input type = "text" name = "user_password"></li>
            <li>请求类型<input type = "text" name = "request_type"></li>
            <li><input type = "submit" value = "确定"></li>
        </form>
        <form action="http://0.0.0.0:8080/dealuser/" method ="POST">
            <li>用户邮箱<input type = "text" name = "user_email"></li>
            <li>请求类型<input type = "text" name = "request_type"></li>
            <li><input type = "submit" value = "确定"></li>
        </form>
        <!--<form action="http://0.0.0.0:8080/bus/" method = "POST">
        -->
    </div>
</body>
</html>
